 
 
  <footer>
      <div class="footer-content">
        <a href="https://facebook.com" target="_blank"><img src="/assets/imagenes/facebook.png"  alt="Facebook"></a>
        <a href="https://twitter.com" target="_blank"><img src="/assets/imagenes/Twitter.png" alt="Twitter"></a>
        <a href="https://instagram.com" target="_blank"><img src="/assets/imagenes/instagram.png" alt="Instagram"></a>
      </div>
    </footer>