

<div style="text-align: center;">
        <h1 class="m-5">
            {{error}}
        </h1>

        <h2 class="mt-5 text-danger">
            {{ mensajeError }}
        </h2>

        <h2 class="mt-5 text-danger">
            {{ mensajeErrorData }}
        </h2>

        <h2 class="mt-5 text-danger">
            {{ mensajeErrorUser }}
        </h2>

        <figure class="m-5">
            <img src="https://blogs.unsw.edu.au/nowideas/files/2018/11/error-no-es-fracaso.jpg" alt="error">
        </figure>

        <a href="/cliente/home">
        <button class="volver">Volver a intentar</button>
        </a>

</div>

