{{> navegacion}}
<h1>Pelicula</h1>



<ul class="container-item">
<li>
    <div class="item">
        <img  src="{{pelicula.imagen.secure_url}}" alt="Película">
        <figcaption>{{pelicula.nombre}}</figcaption>
        <p>{{pelicula.descripcion}}</p>
    </div>
</li>
</ul>


{{> footer}}