{{> navegacion}}

<h1>Serie</h1>
<ul class="container-item">
<li>
    <div class="item">
        <img src="{{serie.imagen.secure_url}}" alt="Película">
        <figcaption>{{serie.nombre}}</figcaption>
        <p>{{serie.descripcion}}</p>
    </div>
</li>
</ul>


{{> footer}}